---
apiVersion: v1
kind: Namespace
metadata:
  name: {{ env "NAMESPACE" }}
  name: {{ env "SOME_FILE" | file | tostring }}
  name: {{ env "SOME_FILE" | file | tostring | base64Encode }}
  name: {{ nth "2" "1 2 3 4 5" }}
  name: {{ nth "0" "1 2 3 4 5" }}
  name: {{ nth "4" "1 2 3 4 5" }}
  name: {{ nth "4" "1 2 3 4 5" }}
  https_id_ed25519.pub: {{ env "ID_ED25519_URLS" | curl }}
  https_id_ed25519.pub: {{ env "ID_ED25519_URLS" | curl | base64Encode }}
  http_id_ed25519.pub: {{ env "ID_ED25519_URL" | curl }}
  http_id_ed25519.pub: {{ env "ID_ED25519_URL" | curl | base64Encode }}

- name: PATH
  value: '{{ env "PATH" }}'

- name: PATH
  value: '{{ env "PATH" | base64Encode }}'

- name: PATH
  value: '{{ env "PATH" | base64Encode | base64Decode }}'

- name: cat
  value: '{{ cat "a" "b" "c" }}'

- name: nth
  value: '{{ nth "3" "a b c d f g" }}'

- name: delimit
  value: '{{ delimit "a b c" "," }}'

- name: nth
  value: '{{ nth "3" "a b c d f g" }}'

- name: zip
  value: '{{ zip "a b c" "1 2 3" "." }}'

- name: zip-base64
  value: '{{ zip "a b c" "1 2 3" "." | base64Encode }}' 

- name: zip-base64-plain
  value: '{{ zip "a b c" "1 2 3" "." | base64Encode | base64Decode }}'

- name: curlraw
  value: '{{ curl "http://example.com:8882/raw" }}'

- name: curlb64
  value: '{{ curl "http://example.com:8882/base64" }}'

- name: curl
  value: '{{ curl "http://example.com:8882/raw" }}'

- name: curl_value
  value: '{{ .curlraw }}'

- name: curl_valueb64
  value: '{{ .curl }}'

- name: curl_encode
  value: '{{ curl "http://example.com:8882/raw" | base64Encode }}'

- name: curl_decode
  value: '{{ curl "http://example.com:8882/base64" | base64Decode }}'

- name: generator1
  value: |
    {{ range $n := generate 20 true }}{{ $n }}{{end}}

- name: generator2
  value: |
    {{ range $n := generate 20 false }}{{ $n }}{{end}}


# local variables:
# comment-start: "# "
# mode: conf
# end:
