{{ $root := cat "https://" .AppHost ":" .AppPort }}
apiVersion: v1
kind: Namespace
metadata:
- name: .NAMESPACE VariableTest
  value: |
    namespace: {{ .NAMESPACE }}

- name: {{ .NAMESPACE }}-VariableTest
  value: |
    namespace: {{ .NAMESPACE }}

- test: CamelCase ID_ED25519_URLS
  IdEd25519Urls: {{ .IdEd25519Urls }}

- test: camelCase ID_ED25519_URLS
  # the value of the environment variable using lowerCamelCase
  idEd25519Urls: {{ .idEd25519Urls }}

  # curl the URI content
  idEd25519Urls: {{ .idEd25519Urls | curl }}

  # curl the URI and base64 encode it
  idEd25519Urls: {{ curl .idEd25519Urls | base64Encode }}

  # alternate template syntax to curl the URI and base64 encode it
  idEd25519Urls: {{ .idEd25519Urls | curl | base64Encode }}

- name: {{ env "NAMESPACE" }}
- name: |
    {{ env "SOME_FILE" | file | tostring | base64Encode }}
- name: {{ nth "2" "1 2 3 4 5" }}
- name: {{ nth "0" "1 2 3 4 5" }}
- name: {{ nth "4" "1 2 3 4 5" }}
- name: {{ nth "4" "1 2 3 4 5" }}
- https_id_ed25519.pub: {{ env "ID_ED25519_URLS" | curl }}
- https_id_ed25519.pub: {{ env "ID_ED25519_URLS" | curl | base64Encode }}
- http_id_ed25519.pub: {{ env "ID_ED25519_URL" | curl }}
- http_id_ed25519.pub: {{ env "ID_ED25519_URL" | curl | base64Encode }}

- name: PATH
  value: '{{ env "PATH" }}'

- name: PATH
  value: '{{ env "PATH" | base64Encode }}'

- name: PATH
  value: '{{ env "PATH" | base64Encode | base64Decode }}'

- name: cat
  value: '{{ cat "a" "b" "c" }}'

- name: nth
  value: '{{ nth "3" "a b c d f g" }}'

- name: delimit
  value: '{{ delimit "a b c" "," }}'

- name: nth
  value: '{{ nth "3" "a b c d f g" }}'

- name: zip
  value: '{{ zip "a b c" "1 2 3" "." }}'

- name: zip-base64
  value: '{{ zip "a b c" "1 2 3" "." | base64Encode }}' 

- name: zip-base64-plain
  value: '{{ zip "a b c" "1 2 3" "." | base64Encode | base64Decode }}'

- name: curlraw
  value: '{{ cat $root "/raw" | curl }}'

- name: curlb64
  value: '{{ cat $root "/base64" | curl }}'

- name: curl
  value: '{{ cat $root "/raw" | curl}}'

- name: curl_encode
  value: '{{ cat $root "/raw" | curl | base64Encode }}'

- name: curl_decode
  value: '{{ cat $root "/base64" | curl | base64Decode }}'

- name: generator1
  value: |
    {{ range $n := generate 20 true }}{{ $n }}{{end}}

- name: generatorInt
  value: |
    {{ range $n := generateInt 20 }}{{ add $n 1 }} {{end}}

- name: generator2
  value: |
    {{ range $n := generate 20 false }}{{ $n }}{{end}}

- name: math
  value: |
    add  2 |{{ range $n := generateInt 8}}{{ add  $n  2 }} {{end}}
    sub  2 |{{ range $n := generateInt 8}}{{ sub  $n  2 }} {{end}}
    div  2 |{{ range $n := generateInt 8}}{{ div  $n  2 }} {{end}}
    mult 2 |{{ range $n := generateInt 8}}{{ mult $n  2 }} {{end}}
    mod  2 |{{ range $n := generateInt 8}}{{ mod  $n  2 }} {{end}}


- name: .NAMESPACE VariableTest
  value: |
    namespace: {{ .NAMESPACE }}
    
- name: printf
  value: |
    text1: "{{ printf "%-10s %03d %-6.2f %-20v %T" "string" 1 3.141592 "{\"a\":\"b\",\"c\":\"d\"}" "{\"a\": \"b\", \"c\": \"d\" }" }}"
  
# local variables:
# comment-start: "# "
# mode: conf
# end:
